@use '../../styles/variables.scss' as v;
@use '../../styles/mixins.scss' as m;
@use '../../styles/functions.scss' as f;

.dishes {
  padding-block: 5.625rem 1.875rem;

  @include m.phone {
    padding-block: 1.875rem 1.875rem;
  }
}

.title {
  text-align: center;
  font-size: 2.25rem;
  line-height: f.ratio(36, 90);
  color: #d9d9d9;
  letter-spacing: 0.4375rem;
  background: url('../../assets/images/dishes.png') center center / 25rem 5.625rem no-repeat;

  @include m.phone {
    margin: 0px;
    font-size: 1.25rem;
    line-height: f.ratio(20, 70);
    background: url('../../assets/images/dishes.png') center center / 12.5rem 5.625rem no-repeat;
  }

  &:not(:last-child) {
    margin-bottom: 3.75rem;

    @include m.phone {
      margin-bottom: 1.875rem;
    }
  }
}

.wrapperProducts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr));
  gap: 1.875rem;

  @include m.phone {
    grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  }
}

.dish {
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.share {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;

  svg * {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.dishImage {
  flex: 0 0 16.25rem;

  @include m.phone {
    flex: 0 1 16.25rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.dishBody {
  flex: 1 0 14.5625rem;
  padding: 1.875rem;
  background-color: v.$darkGrey;
  display: flex;
  flex-direction: column;
}

.dishTitle {
  font-size: 2rem;
  line-height: f.ratio(32, 30);
  color: #d9d9d9;
}

.dishLabel {
  font-size: 0.75rem;
  line-height: f.ratio(12, 16);
  color: #a4a8b2;

  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.dishDescription {
  flex: 1 1 auto;
  p {
    color: #85878c;
    font-size: 0.8125rem;
    line-height: f.ratio(13, 18);
  }
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.stars {
  flex: 0 0 155px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;

  span {
    font-size: 0.75rem;
    line-height: f.ratio(12, 30);
    font-weight: 900;
    color: #b3b3b3;
  }
}
.dishBtn {
  font-weight: 900;
  font-size: 0.625rem;
  line-height: f.ratio(10, 40);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 1.875rem;
  border: 0.125rem solid #303030;
  padding-inline: 2rem;
  transition: all 0.3s ease 0.1s;

  &:hover {
    background-color: v.$primary;
    color: v.$darkGrey;
  }
}
