@use '../../styles/variables.scss' as v;
@use '../../styles/mixins.scss' as m;
@use '../../styles/functions.scss' as f;

.container {
  display: flex;
  justify-content: space-evenly;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.icon {
  width: 1.625rem;
  height: 1.625rem;
  margin-inline: auto;

  img {
    width: 100%;
    height: 100%;
  }

  &:not(:last-child) {
    margin-bottom: 0.8125rem;
  }
}

.title {
  line-height: f.ratio(16, 30);
  text-align: center;

  @include m.phone {
    font-size: 0.875rem;
  }
}

.text {
  text-align: center;
  opacity: 0.5;
  font-size: 0.875rem;

  @include m.phone {
    font-size: 0.75rem;
  }
}
